body,
html {
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
  font-family: 'Rubik', sans-serif;
}

.landingRegister {
  display: none;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landingRegister__logo {
  height: 350px;
  width: 600px;
  margin: 40px auto;
}

.landingRegister__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24pt;
}

.landingRegister__input {
  margin: 1.5em auto;
  width: 600px;
  height: 80px;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: 0;
  outline: 0;
  padding: 22px 18px;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.landingRegister__register {
  margin: 1.5em auto;
  border: 0;
  outline: 0;
  width: 600px;
  height: 120px;
  border-radius: 50px;
  background-color: royalblue;
  padding: 22px 18px;
  color: seashell;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.landingLogIn {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landingLogIn__Logo {
  height: 350px;
  width: 600px;
  margin: 40px auto;
}

.landingLogIn__LogoImg {
  height: 350px;
  width: 600px;
  margin: 40px auto;
}

.landingLogIn__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24pt;
}

.landingLogIn__input {
  margin: 1.5em auto;
  width: 600px;
  height: 80px;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: 0;
  outline: 0;
  padding: 22px 18px;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.landingLogIn__logIn {
  margin: 1.5em auto;
  border: 0;
  outline: 0;
  width: 600px;
  height: 120px;
  border-radius: 50px;
  background-color: royalblue;
  padding: 22px 18px;
  color: seashell;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.landingLogIn__createAccountBtn {
  border: none;
  position: relative;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  color: royalblue;
  margin-top: auto;
}

.landingLogIn__createAccount {
  position: absolute;
  bottom: 0px;
  font-size: 32px;
}

.landingLogIn__passwordForgotten {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 32px;
  cursor: pointer;
  display: inline-block;
  color: royalblue;
}

.initialScreen {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.initialScreen__logo {
  height: 300px;
  width: 600px;
  position: absolute;
  top: 25px;
  left: 35%;
}

.initialScreen__logoImg {
  height: 150px;
  width: 250px;
  margin: 20px 120px 20px 20px;
}

.initialScreen__clickScreens {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24pt;
  margin-top: 200px;
  height: 100%;
  width: 100%;
}

.initialScreen__clickScreens__item {
  margin: 20px 35px;
  font-size: 50px;
  color: #000;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  background-color: #2C74F9;
  color: #fff;
}

.initialScreen__clickScreens__item--short {
  width: 41%;
  height: 40%;
}

.initialScreen__clickScreens__item--short--img {
  background-color: white;
  height: 60%;
  border-radius: 30px 30px 0px 0px;
}

.initialScreen__clickScreens__item--short--imgJpg {
  width: 80%;
  margin-top: 25px;
  margin-left: 40px;
}

.initialScreen__clickScreens__item--short--title {
  text-align: left;
  margin-top: 1%;
  margin-left: 5%;
  margin-bottom: 0px;
  font-size: 40px;
}

.initialScreen__clickScreens__item--short--text {
  text-align: left;
  margin-top: 1%;
  margin-left: 3%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
}

.initialScreen__clickScreens__item--large {
  width: 90%;
  display: block;
}

.initialScreen__clickScreens__item--large--img {
  height: 40%;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
}

.initialScreen__clickScreens__item--large--title {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 0px;
  font-size: 40px;
}

.initialScreen__clickScreens__item--large--text {
  text-align: center;
  margin-top: 1%;
  padding: 20px;
  margin-bottom: 0px;
  font-size: 30px;
}

.navegationBar {
  background-color: #2C74F9;
  width: 90%;
  display: none;
  position: fixed;
  border-radius: 30px;
  height: 7%;
  margin: 0 auto;
  left: 5%;
  bottom: 2%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navegationBar__image {
  margin: 20px 70px;
  width: 50px;
  height: 50px;
}

.navegationBar__Home--On {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navegationBar__Home--Off {
  display: none;
}

.navegationBar__Search--On {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navegationBar__Search--Off {
  display: none;
}

.navegationBar__Diseases--On {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navegationBar__Diseases--Off {
  display: none;
}

.navegationBar__User--On {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navegationBar__User--Off {
  display: none;
}
/*# sourceMappingURL=styles.css.map */