body,
html {
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
    font-family: 'Rubik', sans-serif;
}


#map {
    height: 800px;
    width: 100%;
}



.landingRegister {

    display: none;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__logo {
        height: 350px;
        width: 600px;
        margin: 40px auto;
    }


    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24pt;
    }

    &__input {
        margin: 1.5em auto;
        width: 600px;
        height: 80px;

        border-radius: 50px;
        padding-top: 10px;
        padding-bottom: 5px;

        border: 0;
        outline: 0;

        padding: 22px 18px;


        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    }

    &__register {

        margin: 1.5em auto;

        border: 0;
        outline: 0;

        width: 600px;
        height: 120px;

        border-radius: 50px;
        background-color: royalblue;
        padding: 22px 18px;


        color: seashell;



        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    }
}

.landingLogIn {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__Logo {
        height: 350px;
        width: 600px;
        margin: 40px auto;
    }

    &__LogoImg {
        height: 350px;
        width: 600px;
        margin: 40px auto;
    }


    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24pt;
    }

    &__input {
        margin: 1.5em auto;
        width: 600px;
        height: 80px;

        border-radius: 50px;
        padding-top: 10px;
        padding-bottom: 5px;

        border: 0;
        outline: 0;

        padding: 22px 18px;


        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    }

    &__logIn {

        margin: 1.5em auto;

        border: 0;
        outline: 0;

        width: 600px;
        height: 120px;

        border-radius: 50px;
        background-color: royalblue;
        padding: 22px 18px;


        color: seashell;



        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    }

    &__createAccountBtn {
        border: none;
        position: relative;
        background-color: inherit;
        padding: 14px 28px;
        font-size: 30px;
        cursor: pointer;
        display: inline-block;
        color: royalblue;
        margin-top: auto;
    }

    &__createAccount {
        position: absolute;
        bottom: 0px;
        font-size: 32px;
    }

    &__passwordForgotten {
        border: none;
        background-color: inherit;
        padding: 14px 28px;
        font-size: 32px;
        cursor: pointer;
        display: inline-block;
        color: royalblue;
    }
}



.initialScreen {

    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__logo {
        height: 300px;
        width: 600px;
        position: absolute;
        top: 25px;
        left: 35%;
    }

    &__logoImg {
        height: 150px;
        width: 250px;
        margin: 20px 120px 20px 20px;

    }

    &__clickScreens {
        flex-direction: column;
        align-items: center;
        font-size: 24pt;
        margin-top: 200px;
        height: 100%;
        width: 100%;

        &__item {
            margin: 20px 35px;
            font-size: 50px;
            color: #000;
            text-decoration: none;
            display: inline-block;
            border-radius: 30px;
            background-color: #2C74F9;
            color: #fff;

            &--short {
                width: 41%;
                height: 40%;

                &--img {
                    background-color: white;
                    height: 60%;
                    border-radius: 30px 30px 0px 0px;
                }

                &--imgJpg {
                    width: 80%;
                    margin-top: 25px;
                    margin-left: 40px;
                }

                &--title {
                    text-align: left;
                    margin-top: 1%;
                    margin-left: 5%;
                    margin-bottom: 0px;
                    font-size: 40px;
                }

                &--text {
                    text-align: left;
                    margin-top: 1%;
                    margin-left: 3%;
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 25px;
                }
            }

            &--large {
                width: 90%;
                display: block;

                &--img {
                    height: 100%;
                    width: 100%;
                    border-radius: 30px 30px 0px 0px;
                }

                &--title {
                    text-align: center;
                    margin-top: 1%;
                    margin-bottom: 0px;
                    font-size: 40px;
                }

                &--text {
                    text-align: center;
                    margin-top: 1%;
                    padding: 20px;
                    margin-bottom: 0px;
                    font-size: 30px;
                }
            }
        }
    }
}

.navegationBar {
    background-color: #2C74F9;
    width: 90%;
    display: none;
    position: fixed;
    border-radius: 30px;
    height: 7%;
    margin: 0 auto;
    left: 5%;
    bottom: 2%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    &__image {
        margin: 20px 70px;
        width: 50px;
        height: 50px;
    }


    &__Home {
        &--On {
            display: flex;
        }

        &--Off {
            display: none;
        }
    }

    &__Search {
        &--On {
            display: flex;
        }

        &--Off {
            display: none;
        }
    }

    &__Diseases {
        &--On {
            display: flex;
        }

        &--Off {
            display: none;
        }
    }

    &__User {
        &--On {
            display: flex;
        }

        &--Off {
            display: none;
        }
    }
}

.disease {
    &info {
        &__text {
            color: royalblue;

            &--title {
                font-size: 5em;
                text-align: center;
            }

            &--content {
                width: 75%;
                font-size: 2em;
                text-align: center;
                margin-left: 12%;
            }
        }
    }

    &__actions {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        height: 100%;
        width: 100%;

        &__text {
            color: royalblue;
            padding-left: 30px;

            &--title {
                font-size: 4em;
            }

            &--content {
                font-size: 2em;
            }
        }

        &__item {
            margin: 20px 35px;
            font-size: 50px;
            color: #000;
            text-decoration: none;
            display: inline-block;
            border-radius: 50px;
            background-color: royalblue;
            color: #fff;

            &--short {
                width: 41%;
                height: 40%;

                &--img {
                    background-color: white;
                    height: 60%;
                    border-radius: 50px 50px 0px 0px;
                }

                &--imgJpg {
                    width: 80%;
                    margin-top: 25px;
                    margin-left: 40px;
                }

                &--title {
                    text-align: left;
                    margin-top: 1%;
                    margin-left: 5%;
                    margin-bottom: 0px;
                    font-size: 40px;
                }
            }
        }
    }
}



@media (min-width: 600px) {
    // Aqui va lo responsive para las pantallas de escritorio
}