body,
html {
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
    font-family: 'Rubik', sans-serif;
}


#map {
    height: 1500px;
    width: 100%;
}


.landingRegister {

    display: none;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__logo {
        height: 350px;
        width: 600px;
        margin: 40px auto;
    }


    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24pt;
    }

    &__input {
        margin: 1.5em auto;
        width: 600px;
        height: 80px;

        border-radius: 50px;
        padding-top: 10px;
        padding-bottom: 5px;

        border: 0;
        outline: 0;

        padding: 22px 18px;


        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    }

    &__register {

        margin: 1.5em auto;

        border: 0;
        outline: 0;

        width: 600px;
        height: 120px;

        border-radius: 50px;
        background-color: royalblue;
        padding: 22px 18px;


        color: seashell;



        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    }
}

.landingLogIn {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__Logo {
        height: 350px;
        width: 600px;
        margin: 40px auto;
    }

    &__LogoImg {
        height: 350px;
        width: 600px;
        margin: 40px auto;
    }


    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24pt;
    }

    &__input {
        margin: 1.5em auto;
        width: 600px;
        height: 80px;

        border-radius: 50px;
        padding-top: 10px;
        padding-bottom: 5px;

        border: 0;
        outline: 0;

        padding: 22px 18px;


        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    }

    &__logIn {

        margin: 1.5em auto;

        border: 0;
        outline: 0;

        width: 600px;
        height: 120px;

        border-radius: 50px;
        background-color: royalblue;
        padding: 22px 18px;


        color: seashell;



        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    }

    &__createAccountBtn {
        border: none;
        position: relative;
        background-color: inherit;
        padding: 14px 28px;
        font-size: 30px;
        cursor: pointer;
        display: inline-block;
        color: royalblue;
        margin-top: auto;
    }

    &__createAccount {
        position: absolute;
        bottom: 0px;
        font-size: 32px;
    }

    &__passwordForgotten {
        border: none;
        background-color: inherit;
        padding: 14px 28px;
        font-size: 32px;
        cursor: pointer;
        display: inline-block;
        color: royalblue;
    }
}



.initialScreen {

    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__logo {
        height: 300px;
        width: 600px;
        position: absolute;
        top: 25px;
        left: 35%;
    }

    &__logoImg {
        height: 150px;
        width: 250px;
        margin: 20px 120px 20px 20px;

    }

    &__clickScreens {
        flex-direction: column;
        align-items: center;
        font-size: 24pt;
        margin-top: 200px;
        height: 100%;
        width: 100%;

        &__item {
            margin: 20px 35px;
            font-size: 50px;
            color: #000;
            text-decoration: none;
            display: inline-block;
            border-radius: 30px;
            background-color: #2C74F9;
            color: #fff;

            &--short {
                width: 41%;
                height: 40%;

                &--img {
                    background-color: white;
                    height: 60%;
                    border-radius: 30px 30px 0px 0px;
                }

                &--imgJpg {
                    width: 80%;
                    margin-top: 25px;
                    margin-left: 40px;
                }

                &--title {
                    text-align: left;
                    margin-top: 1%;
                    margin-left: 5%;
                    margin-bottom: 0px;
                    font-size: 40px;
                }

                &--text {
                    text-align: left;
                    margin-top: 1%;
                    margin-left: 3%;
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 25px;
                }
            }

            &--large {
                width: 90%;
                display: block;

                &--img {
                    height: 100%;
                    width: 100%;
                    border-radius: 30px 30px 0px 0px;
                }

                &--title {
                    text-align: center;
                    margin-top: 1%;
                    margin-bottom: 0px;
                    font-size: 40px;
                }

                &--text {
                    text-align: center;
                    margin-top: 1%;
                    padding: 20px;
                    margin-bottom: 0px;
                    font-size: 30px;
                }
            }
        }
    }
}

.navegationBar {
    background-color: #2C74F9;
    width: 90%;
    display: none;
    position: fixed;
    border-radius: 30px;
    height: 7%;
    margin: 0 auto;
    left: 5%;
    bottom: 2%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    &__image {
        margin: 20px 70px;
        width: 50px;
        height: 50px;
    }


    &__Home {
        &--On {
            display: flex;
        }

        &--Off {
            display: none;
        }
    }

    &__Search {
        &--On {
            display: flex;
        }

        &--Off {
            display: none;
        }
    }

    &__Diseases {
        &--On {
            display: flex;
        }

        &--Off {
            display: none;
        }
    }

    &__User {
        &--On {
            display: flex;
        }

        &--Off {
            display: none;
        }
    }
}

.imgDisease {
    width: 400px;
}

.disease {
    &__info {
        &__text {
            color: royalblue;

            &--title {
                font-size: 5em;
                text-align: center;
            }

            &--content {
                width: 75%;
                font-size: 2em;
                text-align: center;
                margin-left: 12%;
            }
        }
    }

    &__symptoms {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    &__buttoncontainer {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__simbut {
        font-size: 2em;
        border: none;
        background-color: #fff;
        border-radius: 15px;
        color: midnightblue;
        width: 400px;

        padding: .10em 1em;
        text-align: center;


        margin: 1em 0;
    }

    &__actions {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        height: 100%;
        width: 100%;

        &__text {
            color: royalblue;
            padding-left: 30px;

            &--title {
                font-size: 4em;
            }

            &--content {
                font-size: 2em;
            }
        }

        &__item {
            margin: 20px 35px;
            font-size: 50px;
            color: #000;
            text-decoration: none;
            display: inline-block;
            border-radius: 50px;
            background-color: royalblue;
            color: #fff;

            &--short {
                width: 41%;
                height: 40%;

                &--img {
                    background-color: white;
                    height: 60%;
                    border-radius: 50px 50px 0px 0px;
                }

                &--imgJpg {
                    width: 80%;
                    margin-top: 25px;
                    margin-left: 40px;
                }

                &--title {
                    text-align: left;
                    margin-top: 1%;
                    margin-left: 5%;
                    margin-bottom: 0px;
                    font-size: 40px;
                }
            }
        }

    }
}

.symptomSel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    &__top {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__back {
        position: absolute;
        left: 5%;
        top: 3%;
    }

    &__logo {
        margin: 3% auto 5px;
        width: 90px;
    }

    &__title {
        text-align: center;
        margin: 1em auto;
        font-size: 4em;
        width: 40%;
        color: #2C74F9;
    }

    &__mainform {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__label {
        font-size: 2.5em;
        margin: 1em auto;
        width: 80%;
        background-color: #fff;
        color: rgb(32, 86, 185);
        padding: .25em .25em;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &--sub {
            background-color: cornsilk;
        }


    }

    &__checkbox {
        height: .7em;
        width: .7em;
        border-color: rgb(32, 86, 185);
        margin: .15em 1.5em .15em .15em;

    }

    &__nocheck {
        height: .7em;
        width: .7em;
        border-color: rgb(32, 86, 185);
        margin: .15em 1.5em .15em .15em;
    }

    &__send {
        font-size: 3em;
        background-color: rgb(32, 86, 185);
        color: #fff;
        width: 80%;
        margin: .5em auto;
        border-radius: 25px;
        padding: .5em 0;

        margin-bottom: 25%;
    }
}


.diseaseSel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    &__top {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__back {
        position: absolute;
        left: 5%;
        top: 3%;
    }

    &__logo {
        margin: 3% auto 5px;
        width: 90px;
    }

    &__title {
        text-align: center;
        margin: 1em auto;
        font-size: 4em;
        width: 40%;
        color: #2C74F9;
    }

    &__mainform {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__label {
        font-size: 2.5em;
        margin: 1em auto;
        width: 80%;
        background-color: #fff;
        color: rgb(32, 86, 185);
        padding: .25em .25em;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        padding: 1em;

        &--sub {
            background-color: cornsilk;
        }

        &__checkbox {
            height: .7em;
            width: .7em;
            border-color: rgb(32, 86, 185);
            margin: .15em 1.5em .15em .15em;
            width: 100%;
            padding: 3px;
        }

        &__nocheck {
            height: .7em;
            width: .7em;
            border-color: rgb(32, 86, 185);
            margin: .15em 1.5em .15em .15em;
        }

        &__send {
            font-size: 3em;
            background-color: rgb(32, 86, 185);
            color: #fff;
            width: 80%;
            margin: .5em auto;
            border-radius: 25px;
            padding: .5em 0;

            margin-bottom: 25%;
        }
    }
}

.whiteSpace {
    width: 100%;
    height: 180px;
}


.videos {
    &__actions {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        height: 100%;
        width: 100%;

        &__item {
            margin: 20px 35px;

            font-size: 50px;
            color: #000;
            text-decoration: none;
            display: inline-block;
            border-radius: 50px;
            background-color: royalblue;
            color: #fff;

            &--short {
                width: 41%;
                height: 40%;

                &--img {
                    background-color: white;
                    height: 60%;
                    border-radius: 50px 50px 0px 0px;
                }

                &--imgJpg {
                    width: 80%;
                    margin-top: 25px;
                    margin-left: 40px;
                }

                &--title {
                    text-align: left;
                    margin-top: .25em;
                    margin-left: 5%;
                    margin-bottom: .5em;
                    font-size: 40px;

                }
            }
        }

    }
}

.userProfile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &__top {
        width: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        color: midnightblue;
    }

    &__name {
        font-size: 4em;
        margin: .5em;
    }

    &__desc {
        font-size: 2.5em;
        margin: .2em;
    }

    &__img {
        width: 300px;
        margin: 9em auto;
        margin-bottom: 3em;
    }



}

@media (min-width: 600px) {
    // Aqui va lo responsive para las pantallas de escritorio
}